# Ignore virtual environment directory
venv/

# Ignore SQLite database file
db.sqlite3

# Ignore schema files (if you don't want to track them)
schema.yaml
schema.json

# Ignore apt-cyg package manager files
apt-cyg

# Ignore .env file
.env

# Ignore .git directory (should be ignored by default)
#.git/

# Ignore .gitignore file (should be ignored by default)
#.gitignore